<!-- Navbar-->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to :cocktails, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3 ml-3">
        <%= link_to "Home", :cocktails%>
      </li>
      <li class="nav-item mr-3 ml-3">
        <%= link_to "Create a Cocktail", :new_cocktail %>
      </li>
    </ul>
  </div>
</div>
<!--content-->
<div class="banner-container d-flex pt-5">
  <%= image_tag "cocktail_banner.jpg", class:"banner-img" %>
  <div class="container d-flex flex-column justify-content-around text-center p-5">
      <h1><%= @cocktail.name %></h1>
      <div class="container d-flex justify-content-center">
      <% @cocktail.doses.each do |dose| %>
        <div class="card-cocktail ml-2 mr-2">
          <%= link_to  dose_path(dose), method: :delete, class:"btn btn-icon", data: { confirm: "delete #{dose.ingredient.name} " } do%>
            <em class="far fa-trash-alt"></em>
          <% end %>
          <h2><%= dose.ingredient.name %></h2>
          <p><%= dose.description %></p>

        </div>
      <% end %>
      </div>

      <%= link_to "Add your dose!", new_cocktail_dose_path(@cocktail), class:"btn btn-ghost w-100 mt-3" %>
  </div>
</div>
